<?xml version="1.0"?>
<launch>
    <arg name="log_output" default="screen"/>
    <arg name="bluerov_node_device" default="udpin:0.0.0.0:14560"/>

    <!-- start bluerov2 node -->
    <node respawn="true" pkg="bluerov2_ros_interface" type="publisher.py" name="publisher" output="$(arg log_output)">
        <param name="device" value="$(arg bluerov_node_device)"/>
    </node>
</launch>
